<h1>Subscribe!</h1>

<%= form_tag subscription_path, method: :post, id: 'payment-form' do %>
  <span class="payment-errors"></span>

  <% if current_user.stripe_id? %>
    <div class="card-on-file">
      <p>Your current card on file is:</p>
      <div>
        <%= current_user.card_brand %>
        **** **** **** <%= current_user.card_last_four %>
      </div>
      <div>Expires <%= current_user.card_exp_month %> / <%= current_user.card_exp_year %></div>
      <div class=""><%= link_to "Use a different card", "#", class: 'use-different-card' %></div>
    </div>
  <% end %>

  <div class="card-fields <%= card_fields_class %>">
    <div class="form-row">
      <label>
        <span>Card Number</span>
        <input type="text" size="20" data-stripe="number" placeholder="4242 4242 4242 4242" value="<%= card_value :number %>"/>
      </label>
    </div>

    <div class="form-row">
      <label>
        <span>CVC</span>
        <input type="text" size="3" maxlength="3" data-stripe="cvc" placeholder="123" value="<%= card_value :cvc %>"/>
      </label>
    </div>

    <div class="form-row">
      <label>
        <span>Expiration</span>
        <span class="">
          <input type="text" size="2" maxlength="2" data-stripe="exp-month" placeholder="MM" value="<%= card_value :month %>"/>
          <span> / </span>
          <input type="text" size="4" maxlength="4" data-stripe="exp-year" placeholder="YYYY" value="<%= card_value :year %>"/>
        </span>
      </label>
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Subscribe!</button>
<% end %>
